.button {
    background-color: #FFD5B8 !important;
    margin-bottom: 50px;
    flex: 1;
}

.meeting-container {
    display: flex;
    flex-direction: row;
}

.codeField {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    flex: 1;
    color: #DADADA !important;
}

.durationField {
    margin-bottom: 20px;
    margin-left: 150px;
    flex: 1;
    margin-top: 100px;
    margin-right: 150px;
}