.button {
    background-color: #FFD5B8 !important;
    margin-bottom: 50px;
}

.meeting-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.codeField {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    color: #DADADA !important;
}

.durationField {
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}