.form {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    width: 1032px;
    height: 672px;
    top: 188px;
    left: 328px;
}

.App {
    margin-top: 30px;
    margin-left: 20px;
}

