.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

.charts {
    display: flex;
    flex-direction: row
}

.membercharts {
    display: flex;
    flex-direction: column;
}

.flex-child1 {
    flex: 1;
    width: 606px;
    height: 408px;
    left: 322px;
    top: 300px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.flex-child2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 389px;
    height: 408px;
    left: 966px;
    top: 299px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.flex-dash {
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;
    align-items: start;
}

.navBar {
    flex: 1;
    margin-bottom: 20px;
    margin-right: 100px;
    align-items: flex-start;
}

.table {
    flex: 14;
    margin-top: 50px;
    margin-right: 50px;
}

.title {
    text-align: center;
    width: 200px;
    margin-left: 300px;
    padding-top: 20px;
}