.form {
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 100px;
    align-items: center;
    width: 1032px;
    height: 672px;
}

.App {
    margin-top: 30px;
    margin-left: 20px;
}

.button {
    background-color: #FFD5B8 !important;
    margin-bottom: 50px;
}

.nameField {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: #DADADA !important;
}

.meetingTypeField {
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.codeField {
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.absenceField {
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.flex-nav {
    display: flex;
    flex-direction: row;

}

.navBar {
    flex: 1;
    margin-bottom: 20px;
    margin-right: 200px;
}

.table {
    flex: 14;
    margin-top: 50px;
    margin-right: 50px;
}